/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #070707;
    color: white;
}

h2, h3 {
    margin: 0;
}

p {
    margin: 5px 0;
}

.dashboard-container {
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(#131313, #131313) padding-box,
              linear-gradient(145deg, #000000, #4A81E6) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: box-shadow 0.3s ease;
}

.dashboard-container:hover {
    box-shadow: 0 0 15px 3px #4e46e57e;
}