.server-container {
    background-color: #121212;
    margin-top: -10px;
}

.svg-wavy {
    width: 100vw;
}

.border-bottom-h2 {
    padding-bottom: 20px;
    display: inline-flex;
    gap: 10px;
}

.border-bottom-h2 .underline-blue {
    border-bottom: 5px solid #4F46E5;
    padding-bottom: 5px;
}

.text-container {
    margin: 0 5%;
    padding: 20px 0;
}

.server-list-item-info ul {
    margin: 0;
    margin-top: 5px;

    padding-left: 0px;
    list-style: none;
}

.server-list {
    display: block;
    transition: transform 0.5s ease-in-out;
    margin: 0 5%;
}

.server-list-item {
    width: 300px;
    margin: 10px;
    background: #222;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;

    counter-increment: server-list-item;

    &:before {
        /* content: counter(server-list-item); */
        display: block;
    }
}

.server-list-item-image img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.server-list-item-info h3 {
    margin: 10px 0 5px;
}

.flickity-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 0 !important;
}

.flickity-button:hover {
    background-color: rgba(255, 255, 255, 0.3) ;
}

.flickity-prev-next-button.next {
    right: 0 !important;
}

.flickity-prev-next-button.previous {
    left: 0 !important;
}

@media (max-width: 768px) {
    .flickity-button {
        display: none;
    }

    .server-list-container {
        overflow-x: auto;
        /* scroll-snap-type: x mandatory; */
    }

    .server-list {
        gap: 10px;
    }

    .server-list-item {
        scroll-snap-align: center;
    }

    .border-bottom-h2 {
        flex-direction: column;
        align-items: center;
    }

    .border-bottom-h2 h2 {
        text-align: center;
    }
}
